.popup__close {
    background-image: url(../../../images/close.svg);
    width: 32px;
    height: 32px;
    background-color: initial;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;
    }
}