.footer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
}

@media (min-width: 768px) and (max-width: 900px) {
    .footer__text {
        margin-left: 27px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer__text {
        margin-left: 19px;
        font-size: 14px;
        line-height: 17px;
    }
}